/*--------------------------------------------Colors*/

.bg-light {
   background-image: url("../images/greybg.jpg");
}

body {
    background-image: url("../images/greybg.jpg");
    margin: 0 !important;
    font-family:'Aleo', sans-serif; 
}

.chat-purple {
    color: #7b00d1;
}

#pink-tour,
.title-color-pink,
.nav-pink, 
.navbar-title.pink-title {
    color: #FF1493;
    text-shadow: 1px 1px #050a0d;
}

#turquoise-tour,
.title-color-turquoise,
.nav-turquoise,
.navbar-title {
    color: #32d7da;
     text-shadow: 1px 1px #050a0d;
}

#red-tour,
.title-color-red,
.nav-red {
    color: #ff471a;
    text-shadow: 1px 1px #050a0d;
}

#blue-tour,
.title-color-blue,
.nav-blue, 
.navbar-title.blue-title {
    color: #0080ff;
     text-shadow: 1px 1px #050a0d;
}

#purple-tour,
.title-color-purple,
.nav-purple,
.navbar-title.purple-title {
    color: #7b00d1;
     text-shadow: 1px 1px #050a0d;
}

div.inside-news {
    background-color:#c0c0c0;    
}

.news-link-button {
    font-weight: bold;
    color:#7F00FF;
}

/*--------------------------------------------Images*/
.image-of-1 img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 10%;
}

.image-2 img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    width: 30%;
    height: 25%;
}

.top-image-about img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    width: 50%;
    height: 10%;
}

.rounded-news {
    padding-right: 13px;
}

#gagaplaying {
    padding-right: 25px;
    height: 200px;
    width: 175px;
}

#gagaschool {
    padding-right: 25px;
    height: 175px;
    width: 300px;
}

#superbowl {
    padding-right: 25px;
    height: 190px;
    width: 250px;
}

#gagacooperawards {
    padding-left: 0;
    width:450px;
}

.image-of-gaga-events img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    width: 50%;
    height: 15%;
}

.bottom-image-events img {
    display: inline-block;
    height: 25%;
    width: 100%;
}

.gaga-listen-image img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    width: 50%;
    height: 15%;
}
/*--------------------------------------------Margins/Padding/Text*/
    
#news2018,
#about2018, 
#shows2018 {
    margin-left: 25%;
    margin-right: 25%;
    padding-right: 0;
    padding-left: 0;
}

.content-news,
.content-about,
.content-shows,
.content-music {
    text-align: center;
}

.heading-of-news-section,
.heading-of-about-section,
.heading-of-about-section,
.heading-of-music-section {
    padding-right: 0;
    padding-left: 0;
}

.inside-news,
.inside-about,
.inside-shows {
    position: relative;
    width: 100%;
    min-height: 5px;
    padding: 25px 30px;
}

.recently-seen-title {
    margin-top: .5em;
}

.gaga-early-beg,
.gaga-early-career,
.early-performances {
    padding: 25px 25px 5px 25px;
}

.story-of-2018 {
    padding: 25px 10px 15px 10px;
}

.event-text {
    text-align: center;
}

#events-parties {
    margin-top: 10%;
}

.las-vegas-date-header,
.gaga-history,
.news-stations {
    font-weight: bold;
}

.jumbotron {
    color: #FF1493;
    background-color:#f2e2e4;
    margin-top:1em;
    margin-bottom: 1em;
    text-shadow: 0.5px  0.5px #050a0d;
}  

.chat-section {
    margin-top: 20px;
}

html,body{ 
    overflow-x:hidden; 
} 

.nav-item {
    font-weight:600;
}
/*--------------------------------------------Hover.css/social icons*/
#social i {
   color: #000000;
   width: 40px;
   height: 40px;
   font-size: 28px;
   padding: 6px;
   text-align: center;
   border-radius:50%;
   transition: all 0.35s ease-in-out;
   -moz-transition: all 0.35s ease-in-out;
   -webkit-transition: all 0.35s ease-in-out;
   -o-transition: all 0.35s ease-in-out;
}

#social i:hover {
    background: #A9A9A9;
}

#purple-tour:hover,
#pink-tour:hover,
#blue-tour:hover,
#turquoise-tour:hover,
#red-tour:hover,
.navbar-title:hover {
    color:#000000;
}

/*--------------------------------------------Footer*/
footer {
    padding-top: 10%;
    width: 100%;
}

.footer-icons {
    padding-top: 9px;
    padding-right: 0;
    padding-left: 0;
}

.copyright {
    font-size: 12px !important;
    text-align: center;
    padding-top: 1em;
}

/*--------------------------------------------Media Queries*/
@media (min-width: 1024px) {
    .bottom-image-events,
    .bottom-section-video,
    #input-form {
        padding-left: 25% !important;
        padding-right: 25% !important;
    }
}

@media (max-width:1028px){
   #about2018 {
       margin-left: 0;
       margin-right: 0;
   }
}
       
@media (max-width:451px) {
    #gagaschool {
        width: 400px;
        padding-right: 0;
    }
}

@media (min-width:1024px){
   #gagacooperawards {
       width: 350px;
   }
}

@media (min-width: 1024px) {
    #life-of-lady-gaga {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
}

@media (max-width:337px) {
    #superbowl {
        width: 300px;
        float: none;
        padding-right: 0;
    }
}

@media (max-width:447px) {
    .story-of-2018 {
        padding-left: 10px;
        padding-right:10px;
        float: none;
    }
}

@media (min-width:1024px) {
    .table-responsive,
    .quotes-container {
        padding-left: 20% !important;
        padding-right: 20% !important;
    }
}

@media (max-width:767px) {
    .image-of-1 img,
    .image-2 img,
    .top-image-about img,
    .image-of-gaga-events img,
    .gaga-listen-image img {
        width: 75%;
        height: 25%;
    }    
}

/*---------------------------------------------------- Audio*/
audio {
    width: 110px;
}

.table-responsive {
    display: block;
    padding-left: 0;
    padding-right:0;
    width:100%;
}


/*---------------------------------------------------- Video*/
.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    height:0;
    width: 100%;
    margin: 0 auto;
}

.videowrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
