/*--------------------------------------------Colors*/

.bg-light {
    background-color: #d0d0d0!important;
}

body {
    margin: 0px !important;
    background-color: #e4e4e4!important;
    font-family: 'Aleo', sans-serif;
}
/*--------------------------------------------Margins/Paddings/Text*/

#news2018 {
    margin-left: 25%;
    margin-right: 25%;
    padding-right: 0px;
    padding-left: 0px;
}

.content-news {
    text-align: center;
}

.heading-of-news-section {
    padding-right: 0px;
    padding-left: 0px;
}

.inside-news {
    position: relative;
    width: 100%;
    min-height: 5px;
    padding: 25px 30px;
}

.recently-seen-title {
    margin-top: .5em;
}

.rounded-news {
    padding-right: 13px;
}

.image-of-1 img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
    height: 24%;

}

.image-2 img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 25%;
}

.top-image-about img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
    width: 70%;
    height: 10%;
}

#gagaplaying {
    padding-right: 25px;
    height: 200px;
    width: 175px;
}

#gagaschool {
    padding-right: 25px;
    height: 175px;
    width: 300px;
}

#superbowl {
    padding-right: 25px !important;
    height: 190px;
    width: 250px;
}


.gaga-early-beg,
.gaga-early-career,
.early-performances {
    padding: 25px 25px 5px 25px;
    font-size: 18px;

}

.story-of-2018 {
    padding: 25px 15px 15px 25px;
    font-size: 18px;
}

.about-title {
    font-weight: bold;
}

/*--------------------------------------------Navbar/Navbar Colors*/
.navbar {
    position: relative;

}



/*--------------------------------------------Hover.css*/

/*--------------------------------------------Footer*/

/*--------------------------------------------Media Queries*/

/*---------------------------------------------------- Audio*/

/*---------------------------------------------------- Video*/